body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
cite,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: "Microsoft Yahei", sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

//移动端点击高亮
html,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

del {
    color: #949497;
}

input {
    border: none;
    outline: none;
    -webkit-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style-type: none;
}

//解决端遮罩层穿透
body.dialog-open {
    position: fixed;
    width: 100%;
}